Package: udev-keyboard-exists
Architecture: all
Maintainer: Matt Paine
Priority: optional
Version: $VERSION
Description: Udev script to place a file in /lib/keyboard_exists when a keyboard is plugged in

